@charset "UTF-8";

html {
  font-size: 62.5%;
}

.container {
  width: 100%;
  margin: 0 auto;
  max-width: 1170px;
}

header p {
  background-color: #aa8800;
  padding: 5px;
  color: #fff;
  text-align: center;
  font-size: 1.5rem;
}

.title-top {
  text-align: center;
}

.title-top h1 {
  font-weight: normal;
  border-bottom: 1px solid #000;
  font-size: 1.8rem;

}

.title-top p {
  font-size: 1.4rem;
  padding-bottom: 15px;
}


.traffic {
margin-bottom: 30px;


.traffics h2 {
  font-size: 1.7rem;
  font-weight: normal;
}

.traffic p {
  font-size: 1.3rem;
}

.imgsize img{
  width: 100%;
}
